    
    <div style="display: flex; justify-content: center;" >
        <div class="login_bckg">

            <div class="tab-content" id="pills-tabContent">

            <div class=" tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab" tabindex="0">

                <!-- titulo -->
            <h1 class="text-center">Login</h1>
            <!-- Inputs -->
                        <div class="form-floating m-4">
                            <input type="text" class="form-control" id="LoginUser" placeholder="User">
                            <label for="floatingInput">User</label>
                        </div>
                        <div class="form-floating m-4">
                            <input type="password" class="form-control" id="PasswordUser" placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        
                        <div class="col-12 d-flex flex column align-items-center justify-content-center pb-3">
                            <input class="btn btn-primary m-2 btnlog" type="submit" value="Login">
                        </div>
                            

            </div>

            <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="pills-register" tabindex="0">
            <!-- titulo -->
            <h1 class="text-center">Register</h1>
            <!-- Inputs -->
                        <div class="form-floating m-4">
                            <input type="text" class="form-control" id="RegUser" placeholder="User">
                            <label for="floatingInput">User</label>
                        </div>

                        <div class="form-floating m-4">
                            <input type="password" class="form-control" id="ConfirmPassword1" placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>

                        <div class="form-floating m-4">
                            <input type="password" class="form-control" id="ConfirmPassword2" placeholder="Password">
                            <label for="floatingPassword">Confirm Password</label>
                        </div>


                        <div class="col-12 d-flex flex column align-items-center justify-content-center pb-3">
                            <input class="btn btn-primary m-2 btnreg" type="submit" value="Register">
                        </div>


                </div>
            </div>

<!-- login submit -->

<!-- login-Register pills -->
<ul class="nav nav-underline mb-3" id="pills-tab" role="tablist">

    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-login-tab" data-bs-toggle="pill" data-bs-target="#pills-login" type="button" role="tab" aria-controls="pills-login" aria-selected="true">Login</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-register" data-bs-toggle="pill" data-bs-target="#pills-register" type="button" role="tab" aria-controls="pills-register" aria-selected="false">Sign Up</button>
    </li>
</ul>

        </div>
    </div>

    <script>
        
    document.querySelector('.btnlog').addEventListener('click', function () {
        // Capturar los valores del formulario
        var user = $('#LoginUser').val();
        var userPassword = $('#PasswordUser').val();

        // Construir el objeto con los datos del formulario
        var formData = {
            usr_Name: user,
            usr_password: userPassword,
        };
        console.log(formData);
        login(formData);
    });

    document.querySelector('.btnreg').addEventListener('click', function () {
        // Capturar los valores del formulario
        var userreg = $('#RegUser').val();
        var userPassword1 = $('#ConfirmPassword1').val();
        var userPassword2 = $('#ConfirmPassword2').val();
        console.log("Contraseña 1: "+ userPassword1);
        console.log("Contraseña 2: "+ userPassword2);
        if(userPassword1===userPassword2){
            console.log("Las contraseñas son iguales");


        // Construir el objeto con los datos del formulario
        var formData = {
            usr_Name: userreg,
            usr_password: userPassword1,
        };
        console.log(formData);
         login(formData);
        }else{
            console.log("Las contraseñas no son iguales");
        }
    });
    </script>