<div class="contenedor2">
  <div class="meal-wrapper">
      <div class="meal-search">
        <!-- Seccion de arriba con texto en vista de favoritos -->
          <h2 class="title">Your favorites will be added here.</h2>
          <blockquote>Feel free to add any dishes you want, your desire to cook is your only limit!<br>
              
          </blockquote>
      </div>
        <!-- Este apartado es para ingresar la busqueda que el usuario especifique -->
        <div class="meal-search-box">
          <!-- Input donde el usuario escribe para realizar la busqueda -->
          <input type="text" class="search-control" placeholder="Enter an...." id="search-fav">
          <!-- Boton para realizar la busqueda -->
          <button type="submit" class="search-btn btn" onclick="GetFavoritescategory(getLocalStorageValue('usr_Name'))" id="search-fav">
            <i class="fas fa-search"></i>
          </button>
        </div>
      <!-- En esta seccion se iran agregando los favoritos que el usuario vaya seleccionando en la aplicacion -->
      <div class="fav-meals-container">
          <h2>Favourite Meals</h2>
          <div class="fav-meals">
              <!-- Aquí se agregarán las comidas favoritas -->
          </div>
      </div>

   <!-- AGREGEGUE ESTO EL DIA DE HOY PARA AÑADIR LA MODAL DE RECETA EN FAVORITOS -->
   <!-- Esta seccion solo se ve visible al momento de presionar el boton de Get Recipe que contiene cada platillo -->
      <div class="meal-details">

        <!-- Este boton es el que aparece por default en las modales de receta, y sirve obviamente para cerrar dicha modal -->
        <button type="button" class="btn recipe-close-btn" id="recipe-close-btn">
            <i class="fas fa-times"></i>
          </button>


        <div class="meal-details-content">
            <!-- Aquí es donde se mostrarán los detalles de la receta -->
        </div>

    </div>
    <!-- AGREGEGUE ESTO EL DIA DE HOY PARA AÑADIR LA MODAL DE RECETA EN FAVORITOS -->



      <div class="search-container" id="search-container">
          <input type="text" id="search-bar" placeholder="Buscar...">
          <button id="close-search"><i class="fas fa-times"></i></button>
      </div>
  </div>

  <script src="js/favoritos.js"></script>
</div>
  
